@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Source+Sans+3:wght@300&display=swap');
body{
    text-align: center;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

textarea{
    font-family: sans-serif;
    color: black;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 16px;
    width: 65rem;
    height: 25rem;
    background-color: azure;
    padding: 10px;
}
.btn button{
    background-color: lightcoral;
}
button:hover{
    background-color: lightgray;
}
#lower-case,#sentence-case,#upper-case,#proper-case,#save-text-file{
    padding: 5px 15px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 5px;
}

